.btn-pin-cycle {
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f30;
    border-radius: 50%;
    color: #fff;
}
.btn-service-round {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    border-radius: 50%;
    color: #fff;
}
.side-menu{
	cursor: pointer;
	padding: 10px 5px;
	border-bottom: 1px solid #eee;
	color: #646464;
	font-size: 14px;
}

	/*分页组件*/
	.pages{border-left:1px solid #d8d8d8;text-align: center;font-size: 0;line-height:0;display: inline-block;*display: inline;vertical-align: middle; font-size:16px; margin:10px;}
	.pages a,.pages strong{padding:0 15px;border:1px solid #d8d8d8; border-left:0; display:inline-block;height:40px; line-height:40px;color:#666; float:left; background-color:#f0f0f0}
	/*End 分页*/