.uhead {
	display: flex;
	flex-direction: row;
	padding: 10px;
	background-color: #fff;
	margin-bottom: 5px;
}

.uhead-img {
	width: 80px;
	height: 80px;
	margin-right: 10px;
	display: block;
	border-radius: 50%;
}

.uhead-box {
	flex: 1;
}

.uhead-nick {
	margin-bottom: 5px;
	font-size: 16px;
}

.uhead-rnum {
	color: #999;
	margin-bottom: 10px;
	line-height: 14px;
	display: flex;
	font-size: 14px;
}
.cl-u,
.cl-u:before {
	color: #ed6d53;
}

.row-item-icon:before {
	font-size: 22px;
}