<!DOCTYPE html>
<html>
	{include file="head.html"}
	<body>
		<div class="header">
			<div class="header-back"></div>
			<div class="header-title">订单评价</div>
		</div>
		<div class="header-row"></div>
		<div class="main-body"  id="app">
			<form v-if="pageLoad" id="ratyForm" @submit.prevent="ratySubmit">
				<input type="text" class="none" name="orderid" :value="pageData.order.orderid" />
			<div class="row-box mgb-5">
				<sky-raty   label="质量评价" fields="raty_quality" len="10" :grade="pageData.raty.raty_quality"></sky-raty>
				<sky-raty label="服务评价" fields="raty_service" len="10" :grade="pageData.raty.raty_service"></sky-raty>
				<sky-raty label="配送评价" fields="raty_express" len="10" :grade="pageData.raty.raty_express"></sky-raty>
				
			</div>
			<div class="textarea-flex">
				<div class="textarea-flex-label">评价内容</div>
				<textarea name="content" placeholder="请输入评价内容" :value="pageData.raty.content" class="textarea-flex-text h60"></textarea>
			</div>
			<div class="row-box">
			 
				<div class="flexlist-item" v-for="(item,index) in pageData.proList" :key="index">
					<img class="flexlist-img" :src="item.imgurl+'.100x100.jpg'" />
					<div class="flex-1">
						<div class="flexlist-title">{{item.title}}</div>
						<sky-raty label="" :fields="'ratyPros['+item.id+']'" len="10" :grade="item.raty_grade>0?item.raty_grade:9"></sky-raty>
						
					</div>
				</div>
				 
			</div>
			 
			<button form-type="submit" v-if="pageData.order.israty==0" class="btn-row-submit" id="submit">提交评价</button>
			 
			</form>
		</div>
		{include file="footer.html"}
		<script src="/plugin/dt-ui/raty.vue.js"></script>		
		<script>
			var orderid="{$order.orderid}";
		</script>
		<script src="{$skins}b2c_order/raty.js"></script> 
	</body>
</html>
