<!DOCTYPE html>
<html>
	{include file="head.html"}
	<body>
		<div class="header">
			<div class="header-back"></div>
			<div class="header-title">{$cat.cname}</div>
		</div>
		<div class="header-row"></div>
		<div class="main-body" id="app">
			<div v-if="pageData.catlist && pageData.catlist.length>0" class="tabs-border" style="overflow-x: auto;">
				<a @click="setCatid(scatid)" :class="catid==scatid?'tabs-border-active':''" class="tabs-border-item">全部</a>
				<a @click="setCatid(item.catid)" v-for="(item,index) in pageData.catlist" :class="catid==item.catid?'tabs-border-active':''"  class="tabs-border-item" >{{item.cname}}</a>
					
				</div>
			<div class="pd-10 bg-fff">
				
				<a v-for="(item,index) in pageData.list" :key="index" :href="'/index.php?m=article&a=show&id='+item.id" class="sglist-item">
					
					<div v-if="item.imgurl!=''" class="sglist-imgbox">
						<img class="sglist-img" :src="item.imgurl+'.middle.jpg'" />
					</div>
					
					<div class="sglist-title">{{item.title}}</div>
					<div class="sglist-desc">{{item.description}}</div>
					<div class="sglist-ft">
						<div class="sglist-ft-love">{{item.love_num}}</div>
						<div class="sglist-ft-cm">{{item.comment_num}}</div>
						<div class="sglist-ft-view">{{item.view_num}}</div>
					</div> 
				</a>
			
			</div>
		</div>
		
		{include file="footer.html"}
		<script>
			var scatid=catid="{$cat.catid}";
			
		</script>
		<script src="/plugin/vue/vue.min.js"></script>
		<script src="{$skins}article/list.js"></script>
	</body>
</html>
