<!DOCTYPE html>
<html>
	{include file="head.html"}
	<style>
		span{
			display: inline-block;
		}
	</style>
	<body>
		<div class="header">
			<div class="header-back"></div>
			<div class="header-title">{$cat.title}</div>
		</div>
		<div class="header-row"></div>
		
		<div class="main-body" id="App">
			<div>
				 
				 <div class="tabs-border">
					<div @click="setOrder('')" :class="{'tabs-border-active':orderby==''}" class="tabs-border-item">综合</div>
					<div @click="setOrder('buy_num')"  :class="{'tabs-border-active':orderby=='buy_num'}" class="flex flex-center tabs-border-item">
						<span class="mgr-5">销量</span>
						<span class="iconfont icon-godown"></span>
					</div>
					<div @click="setOrder('price')"  :class="{'tabs-border-active':orderby=='price'}" class="tabs-border-item flex flex-center ">
						<span class="mgr-5">价格</span>
						<span class="iconfont icon-godown"></span>
					</div> 
				 </div>
				 <div class="emptyData" v-if="Object.keys(list).length==0">暂无产品上架</div>
				 <div class="mtlist mgt-5">
				 	 
				 	<div @click="goProduct(item.id)" v-for="(item,index) in list" :key="index" class="mtlist-item">
				 		<div class="mtlist-item-bd">
				 			<image mode="widthFix" class="mtlist-img" :src="item.imgurl+'.small.jpg'"></image>
				 			<div class="mtlist-item-pd">
				 				<div class="mtlist-item-money">
				 					<div class="mtlist-item-money-flex">￥
				 						<span class="mtlist-item-money_money">{{item.price}}</span>
				 					</div>
				 					<div class="mtlist-item-money_num">月销{{item.buy_num}}件</div>
				 				</div>
				 				<div class="mtlist-title">{{item.title}}</div>
				 				<div class="mtlist-desc">{{item.description}}</div>
				 			</div>
				 		</div>
				 	</div>
				 	 
				 	
				 </div>
			</div>
		</div>
		{include file="footer.html"}
		<script>
			var catid="{$cat.catid}"
		</script>
		<script src="{$skins}b2c_product/list.js"></script>
	</body>
</html>
