<!DOCTYPE html>
<html>
	{include file="head.html"}
	<style>
		.outline-none{
			outline: none;
		}
	</style>
	<body>
		<div class="header">
			<div class="header-back"></div>
			<div class="header-title">搜一下</div>
		</div>
		<div class="header-row"></div>
		<div class="main-body">
			
			
			<div id="app" style="display: none;" :class="'flex-col'">
				 
				<div class="flex pd-5">
					<input class="input-flex-text bd-radius-10 outline-none" v-model="keyword" :value="keyword" id="keyword" />
					<div class="input-flex-btn w60" @click="search">搜一下</div>
				</div>
				<div class="mtlist" >
					<div class="mtlist-item" v-for="(item,index) in pageData.list" :key="index">	 
						<div class="mtlist-item-bd">
							 
							<div @click="goProduct(item.id)"  class="mtlist-bgimg-box" >
								<div class="mtlist-bgimg" :style="{backgroundImage:'url('+item.imgurl+'.small.jpg)'}" ></div>
							</div>
							<div class="mtlist-item-pd">
								<div class="mtlist-item-money">
									<div class="flex flex-1 flex-ai-center">
										<div class="cl-money f12">￥</div>
										<div class="cl-money f22">{{item.price}}</div>
									</div>
									<div class="mtlist-item-money_num">月销{{item.buy_num}}件</div>
								</div>
								<div class="mtlist-title">{{item.title}}</div>
								 
							</div>
						</div>						
					</div>
				</div>
				 
			</div>
			
		</div>
		 
		{include file="footer.html"}
		<script>
			var keyword="{$keyword}";
		</script>
		<script src="/plugin/dt-ui/raty.vue.js"></script>
		<script src="{$skins}b2c_search/index.js"></script>
	</body>
</html>
