 
.mtt10 {
	margin-top: -10px;
}

.adBox {
	display: flex;
	flex-direction: row;

}

.adBox-item {
	flex: 1;
	margin: 5px;
}

.adBox-img {
	width: 100%;
	border-radius: 10px;
}
.swiper-pagination{
	display: block;
}