.swiper-container {
	width: 100%;
}
 

.m-navPic-item {
	padding: 5px;
	flex:1;
	margin-bottom: 10px;
}

.m-navPic-img {
	width: 40px;
	height: 40px;
}

.m-navPic-title {
	font-size: 0.7rem;

}

.adBox {
	display: flex;
	flex-direction: row;

}

.adBox-item {
	flex: 1;
	margin: 5px;
}

.adBox-img {
	width: 100%;
	border-radius: 10px;
}
