<!DOCTYPE html>
<html>
	{include file="head.html"}
	<body>
		<div class="header">
			<div class="header-back"></div>
			<div class="header-title">我的收藏</div>
		</div>
		<div class="header-row"></div>
		<div class="main-body">
			<div id="app">
				<div v-if="pageLoad">
					<div class="sglist">
						<div :gourl="'/module.php?m=forum&a=show&id='+item.id" class="sglist-item" v-for="(item,index) in pageData.list" :key="index">
							<div class="flex mgb-5">
								<img :src="item.user_head+'.100x100.jpg'" class="wh-40 bd-radius-50" />
								<div class="flex-1 mgl-5">
									<div class="f14 fw-600 mgb-5">{{item.nickname}}</div>
									<div class="flex">
										<div class="f12 cl3">{{item.timeago}}</div>
										
									</div>
								</div>
								<div class="cl2 f12">来自{{item.group_title}}</div> 
							</div>
							<div class="sglist-title mgb-10">{{item.title}}</div>
							 
							<div class="sglist-imglist">
								 
								<img v-for="(img,imgindex) in item.imgslist" :key="imgindex" :src="img+'.100x100.jpg'" class="sglist-imglist-img" />
								 
							</div> 
							 
						</div>
					</div>
					<div @click="loadMore" v-if="per_page>0" class="loadMore">点我加载更多...</div>
				</div>
			</div>
			 
		</div>
		{include file="footer.html"}
		<script src="{$skins}forum/myfav.js"></script>
	</body>
</html>
