body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	padding-bottom: 10px;
}

a {
	color: #323232;
	text-decoration: none;
}
.shd{
	padding: 6px 20px;
	font-weight: 600;
	margin-bottom: 5px;
	background-color: #FF4400;
	display: inline-block;
	color: #fff;
	margin-left: 10px;
}
.none {
	display: none;
}
.w300{
	width: 300px !important;
}
.main-body {
	padding: 0px 20px;
}

.pointer {
	cursor: pointer;
}

.yes,
.no {
	cursor: pointer;
}

.yes:after,
.no:after {
	display: inline-block;
	font-family: iconfont;
	font-size: 16px;
	color: #15aba5;

}

.yes:after {
	content: "\e695";
}

.no:after {
	content: "\e694";
	color: #ccc;
}

.fr {
	float: right !important;
}

.fl {
	float: left !important;
}

.clearfix:after {
	display: block;
	content: ".";
	visibility: hidden;
	height: 0;
	width: 100%;
	clear: both;
}

/**tabs-border***/
.tabs-border {
	padding-left: 40px;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	margin-bottom: 5px;
	box-sizing: border-box;
}

.tabs-border .item {
	background: none;
	border-radius: 0px;
	border: 0px;
	padding: 0px 20px;
	display: block;
	float: left;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	color: #4995D5;
	cursor: pointer;
}

.tabs-border .item.active {
	border-bottom: 1px solid #f60;
	color: #f60;
}

.tabs-border.i2 .item {
	padding: 0px;
	text-align: center;
	width: 50%;
}

.tabs-border.i3 .item {
	padding: 0px;
	text-align: center;
	width: 33.333%;
}

.tabs-border.i4 .item {
	padding: 0px;
	text-align: center;
	width: 25%;
}

.tabs-border.i5 .item {
	padding: 0px;
	text-align: center;
	width: 20%;
}

.tabs-border-box {
	display: none;
}

.tabs-border-box-active {
	display: block;
}

/*****sideMenu****/
.sideMenu-item {
	line-height: 36px;
	width: 100%;
	box-sizing: border-box;
	padding: 0px 10px;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.table td {
	border: 1px solid #ddd;
	padding: 10px;
}

/***tbs****/
.tbs {
	width: 100%;
	border: 0;
	border-collapse: collapse;
	border-radius: 10px;
	border: 1px solid #ddd;
}

.tbs thead tr {
	background-color: #f2f2f2;
	color: #323232;
}

.tbs td {
	border: 1px solid #ddd;

	padding: 10px 10px;
}

.tbs thead td {
	padding: 0px 10px;
	line-height: 40px;
	border: 1px solid #ddd;
	box-sizing: border-box;
}
.tbs-fixed{
	position: fixed;
	display: flex;
	background-color: #f2f2f2;
		color: #323232;
}
.tbs-fixed div{
	padding: 0px 10px;
	line-height: 40px;
	border: 1px solid #ddd;
	box-sizing: border-box;
}
/**table-add****/
.table-add {
	width: 100%;
}

.table-add tr td {
	padding: 6px;
}

.table-add tr td:first-child {
	width: 100px;
}

/***form**/
select,
[type="text"],
[type="password"],
textarea {
	color: #646464;
	outline: none;
}

select {
	width: 100%;
	height: 36px;
	line-height: 36px;
	box-sizing: border-box;
	padding: 0px 6px;
	border: 1px solid #ddd;
}

select option {
	padding: 10px 5px;
}

[type="text"],
[type="password"] {
	height: 36px;
	line-height: 36px;
	box-sizing: border-box;
	width: 100%;
	padding: 0px 6px;
	border-radius: 10px;
	border: 1px solid #ddd;
}

.input-small {
	height: 24px;
	line-height: 24px;
}

textarea {
	width: 100%;
	box-sizing: border-box;
	height: 60px;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 5px 6px;
}

.upimg-btn {
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 32px;
	text-align: center;
	border: 1px solid #eee;
	margin-right: 10px;
	color: #646464;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	float: left;
}

.upimg-btn-icon {
	font-style: normal;
}

.upimg-btn-icon:before {
	font-family: iconfont;
	color: #969696;
	font-size: 24px;
	font-weight: 100;
	content: "\e6da";
}

.btn-upload {
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border: 1px solid #eee;
	color: #ddd;
	font-size: 36px;
	font-weight: 100;
	cursor: pointer;
}

.btn-upload-file {
	display: none;
}

.btn-upload-text {
	display: inline-block;
}

/***search-form**/
.search-form {
	padding: 10px 20px;
	color: #444;
	border: 1px solid #ddd;
	border-radius: 10px;
	margin-bottom: 10px;
}

/***图集上传**/
.upimg-box {

	display: flex;
	flex-direction: row;
	padding: 10px;
	flex-wrap: wrap;

}

.upimg-btn {
	width: 80px;
	height: 80px;
	line-height: 80px;
	font-size: 32px;
	text-align: center;
	border: 1px solid #eee;
	margin-right: 10px;
	color: #646464;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.upimg-btn-icon {
	font-style: normal;
}

.upimg-btn-icon:before {
	font-family: iconfont;
	color: #969696;
	font-size: 24px;
	font-weight: 100;
	content: "\e6da";
}

.upimg-list {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.upimg-item {
	position: relative;
	width: 80px;
	height: 80px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.upimg-del {
	position: absolute;
	top: 1px;
	right: 1px;
	justify-content: center;
	align-items: center;

}

.upimg-del:after {
	display: flex;
	font-family: iconfont;
	flex-direction: column;
	content: "\e6b4";
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
	color: red;
	background-color: #e0e0e0;
	opacity: .6;
}

.upimg-img {
	width: 80px;
	height: 80px;
}

/*分页组件*/
.pages {
	border-left: 1px solid #d8d8d8;
	text-align: center;
	font-size: 0;
	line-height: 0;
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	font-size: 16px;
	margin: 10px;
}

.pages a,
.pages strong {
	padding: 0 15px;
	border: 1px solid #d8d8d8;
	border-left: 0;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color: #666;
	float: left;
	background-color: #f0f0f0
}

/*End 分页*/
